# In Class Examples | Week 11 | AIST 2110 | Lists

## Review

In [ ]:
text = "Just any sentence"

# Give me a slice to reverse sentence
reversed_text = text[::-1]

print(reversed_text)

## List Basics

### Declaration

In [ ]:
wow = [1, 2, 3]
print(wow)

### Diff Types in same list

In [ ]:
from math import pi
pis = ['pi', 3.14, pi]

print(pis)

### Mutability

In [ ]:
from math import pi
pis = ['pi', 3.14, pi]

print(pis)

pis[0] = 'pie'

print(pis)

## `in` Keyword

In [ ]:
# Conditional Usage

ex_list = [1, "2", 3, "4", "5", 6, 7, "8", "9"]

if 2 in ex_list:
    print("2 found")
elif 7 in ex_list:
    print("7 found")
elif "8" in ex_list:
    print("8 found")
else:
    print("None found")

## List Slicing

In [ ]:
# Same as str
ex_list = [3, 6, 6, 4, 6, 8, 8, 4, 7]
print(ex_list)

# Reverse
# print(ex_list[::-1])
# print(ex_list)

ex_list.sort()
print(ex_list)
print(ex_list[::-1])

# # Sort in reverse
ex_list.sort(reverse=True)
print(ex_list)


# # # Removing dups
print(list(set(ex_list)))

## List Looping

### While Loop

In [ ]:
depths = [9, 9, 7, 8, 12]

counter = 0

while counter < len(depths):
    print(depths[counter])
    counter += 1

### For Loop

In [9]:
depths = [9, 9, 7, 8, 12]

for val in depths:
    print(val)

9
9
7
8
12

#### In reverse

In [13]:
ex = [1, 2, "3", 4,]

# While (pos integer)
counter = len(ex) - 1

while counter >= 0:
    print(ex[counter])
    counter -= 1

print("----------")

# While (neg integer)
counter = -1
while counter >= len(ex) * -1:
    print(ex[counter])
    counter -= 1


print("----------")

# For
for val in ex[::-1]:
    print(val)


print("----------")
# For range

4
3
2
1
----------
4
3
2
1
----------
4
3
2
1
----------

#### My Ex

In [14]:
ex = [1, 2, "3", 4, 5 ]

counter = 0
while counter < len(ex):
    print(ex[counter])
    counter += 2

print("----------")

for val in ex[::2]:
    print(val)

1
3
5
----------
1
3
5

#### For range

In [15]:
ex_list = []
for i in range(0, 51, 2):
    ex_list.append(i)


print(ex_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
# Most powerful loop for lists/str/sequences -> New in
import statistics
import random

vals = []

# Range Ex
# for _ in range(50):
#     vals.append(random.randint(0, 50))

print(len(vals))
# for x in range(50):
#     vals.append(random.randint(0, x))

# print(vals)


# stats = []
# stats.append("Mean: ")
# stats.append(statistics.mean(vals))

# stats.append("Median: ")
# stats.append(statistics.median(vals))

# stats.append("Mode: ")
# stats.append(statistics.mode(vals))

# stats.append("Range: ")
# stats.append(statistics.mode(vals))

# for v in stats:
#     print(v) # Everything on diff lines

# # for i in range(0, len(stats), 2):
# #     print(f"{stats[i]}{stats[i+1]}")

# print(stats)

50

#### For/While/Range Conversion

In [ ]:
inside_list = [0, 1, 2, 3]
# for i in range(0, len(list1)):
#     print(list1[i])

# for i in range(len(list1)): # Does the same
#     print(list1[i])

inside_list = [0, 1, 2, 3] 

counter = -1
while counter >= (len(inside_list) * -1):
    print(inside_list[counter])
    counter -= 1

print("-----------")

counter = len(inside_list) - 1
while counter > -1:
    print(inside_list[counter])
    counter -= 1

print("-----------")

for x in inside_list[::-1]:
    print(x)

print("-----------")

for i in range(len(inside_list)-1, -1, -1):
    print(inside_list[i])

### Enumerate

In [18]:
# Enumerate Ex
fruits = ["apple","banana","pear"]

# for v in fruits:
#     print(f'{fruits.index(v)}: {v}')


for i, v in enumerate(fruits):
    print(f'{i}: {v}')

0: apple
1: banana
2: pear

## Nested Lists

In [ ]:
from math import pi

nest_ex = [
    ['b', 'r', 'u', 'h'],
    ['p', 'a', 's', 's', 'w', 'o', 'r', 'd', '1', 2, '3'],
    [0, 1, 1, 0, 4, 1, 0, 7, 5, 2, 5, 1, 5, 13, 13, 10, 13, 3, 10, 1, pi, 12, 22, 8, 7, 11, 9, 9, 15, 19, 16, 12, 29, 16, 28, 17, 17, 5, 35, 0, 11, 14, 0, 33, 37, 13, 1, 19, 22, 20],
]

# Double Index:
print(f"To access 2, I use: {nest_ex[1][-2] = }")

idx = nest_ex[2].index(pi)
print(idx)
print(f"To access pi, I use: {nest_ex[2][idx] = :.2f}")

print(f"To access the last value of bruh, I use: {nest_ex[0][-1] = }")

### Nested List Looping

In [23]:
from math import pi
from typing import List

def print_nest_list(to_print: List[List[str|int|float]]) -> None:
    for inside_list in to_print:
        for val in inside_list:
            print(val, end=', ')
        print() # Why do I include this
# print_nest_list(nest_ex)

nest_ex = [
    ['b', 'r', 'u', 'h'],
    ['p', 'a', 's', 's', 'w', 'o', 'r', 'd', '1', 2, '3'],
    [0, 1, 1, 0, 4, 1, 0, 7, 5, 2, 5, 1, 5, 13, 13, 10, 13, 3, 10, 1, pi, 12, 22, 8, 7, 11, 9, 9, 15, 19, 16, 12, 29, 16, 28, 17, 17, 5, 35, 0, 11, 14, 0, 33, 37, 13, 1, 19, 22, 20],
]

for inside_list in nest_ex:
    for val in inside_list:
        print(val,end=" ")
    print()


# # # print_nest_list([
# # #     ['a', 'b','c'], 
# # #     ['x', 'y', 'z'], 
# # #     [1,2,3]])

b r u h
p a s s w o r d 1 2 3
0 1 1 0 4 1 0 7 5 2 5 1 5 13 13 10 13 3 10 1 3.141592653589793 12 22 8 7 11 9 9 15 19 16 12 29 16 28 17 17 5 35 0 11 14 0 33 37 13 1 19 22 20

### Nested List Slicing

In [ ]:
from math import pi

nest_ex = [
    ['b', 'r', 'u', 'h'],
    ['p', 'a', 's', 's', 'w', 'o', 'r', 'd', '1', 2, '3'],
    [0, 1, 1, 0, 4, 1, 0, 7, 5, 2, 5, 1, 5, 13, 13, 10, 13, 3, 10, 1, pi, 12, 22, 8, 7, 11, 9, 9, 15, 19, 16, 12, 29, 16, 28, 17, 17, 5, 35, 0, 11, 14, 0, 33, 37, 13, 1, 19, 22, 20],
]


# To get "bruh"
bruh = nest_ex[0][:]

# To get "123"

one_two_three = nest_ex[1][-3:]

print(nest_ex[:])

### Nesting Ex

In [ ]:
# Multiplication Table Ex
from typing import List

def create_mult_table(num:int) -> List[List[int]]:
    table:List[List[int]] = []
    

    return table


# Usage
five_table = create_mult_table(5)
# five_table = create_mult_table(20)


# print(five_table)

for row in five_table:
    for val in row:
        print(val,end="\t")
    print()

# Expected output:
# 1	    2	    3	    4	    5	
# 2	    4	    6	    8	    10	
# 3	    6	    9	    12	    15	
# 4	    8	    12	    16	    20	
# 5	    10	    15	    20	    25

#### My version

In [ ]:
# Multiplication Table Ex
from typing import List

def create_mult_table(num:int) -> List[List[int]]:
    table = []
    for i in range(1, num + 1):
        row = []
        for j in range(1, num + 1):
            row.append(i * j)
        table.append(row)
    return table


# Usage
five_table = create_mult_table(5)

for row in five_table:
    print(row)

# Expected output:
# 1	    2	    3	    4	    5	
# 2	    4	    6	    8	    10	
# 3	    6	    9	    12	    15	
# 4	    8	    12	    16	    20	
# 5	    10	    15	    20	    25

### Nested Loop Pitfalls

In [26]:
n = 3
table = [[1]*n]*n

for row in table:
    print(row)

print("---------")

table[1][1]=2
table[0][2] = 3
for row in table:
    print(row)

print("---------")

table = []
for _ in range(n):
    table.append([1]*n)
    
table[1][1]=2

for row in table:
    print(row)

[1, 1, 1]
[1, 1, 1]
[1, 1, 1]
---------
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
---------
[1, 1, 1]
[1, 2, 1]
[1, 1, 1]

## List Operations

### Addition

In [ ]:
t = ['a', 'b', 'c']
s = [1, 2, 3]
print(t + s) # Sim to extend

### Multiplication

In [24]:
t = ['a', 'b', 'c']
print(t * 5) 

# W/ strs too
print('8'* 5)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
88888

### Subtraction

In [ ]:
t = [1, 2, 3]
s = [1]
print(t - s)

## List Methods

In [ ]:
# append, extend, insert, remove, pop, index
nums = [3, 41, 12, 9, 74, 15]
nums2 = [1, 2, 3]

nums2.append(99)
print(nums2)

nums.extend(nums2)
print(nums)

nums.insert(2, 1)
print(nums)

nums.insert(nums.index(99), 0) 
print(nums)

nums.insert(len(nums), 0) # Appends
print(nums)

nums.remove(0) # Use in while loop to remove all instances of 0
print(nums)

popped_num = nums.pop() # index or value?
print(nums)
print(f"{popped_num = }")

## Functions for lists/str

In [ ]:
# sum, max, min, all, del
nums = [3, 41, 12, 9, 74, 15]

# del nums[2]

print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))




# split -> Str
text = "Just any sentence"
print(text.split()) # Default space -> Good for getting words

### Conversions

In [ ]:
# list (str to list)
bruh = "bruh"
bruh_list = list(bruh)
bruh_list[2] = "a"
print(bruh_list)



# ''.join (list to str)
bruh_str = ''.join(bruh_list)
print(bruh_str)

print(" ".join(bruh_list))

## List Comprehensions

In [ ]:
# Ex
import random
rand_nums = [random.randint(0, x) for x in range(0, 50)]
print(rand_nums)

### In class questions

1) Grade boost (cap at 100)
    - Story: your class policy adds 5 bonus points to each quiz, but grades can’t exceed 100.
    - Given: `scores = [72, 88, 97, 100, 59, 83]`

2) Course-title acronym
    - Story: given a course title string, build its acronym (first letter of each word, uppercase), skipping tiny connector words.
    - Given1: `title = "introduction to programming in python"`
    - Given2: `skip = ("to", "in", "and", "of")`

3) CHALLENGE: Warm temps from a weekly grid (nested lists)
    - Story: you logged temperatures for several cities across a week. It’s a grid where each inner list is one city’s week. You want a flat list of all temps strictly above 80.
    - Given: ```weekly_temps = [
    [78, 81, 79, 84, 77, 83, 80],   # City A
    [69, 72, 88, 91, 73, 76, 85],   # City B
    [82, 80, 79, 78, 90, 88, 81]    # City C
]```

In [ ]:
# 1
scores = [72, 88, 97, 100, 59, 83]
boosted_grades = ...

# 2
title = "introduction to programming in python"
skip = ("to", "in", "and", "of")
acronym_letters = ...

# 3
weekly_temps = [
    [78, 81, 79, 84, 77, 83, 80],   # City A
    [69, 72, 88, 91, 73, 76, 85],   # City B
    [82, 80, 79, 78, 90, 88, 81]    # City C
]
hot = ...

### My Solutions

In [ ]:
# 1 
scores = [72, 88, 97, 100, 59, 83]
boosted_grades = [min(s + 5, 100) for s in scores]

# 2
title = "introduction to programming in python"
skip = ("to", "in", "and", "of")
acronym_letters = [w[0].upper() for w in title.split() if w and w not in skip] # Returns list, how would we turn this to a str?


# 3
weekly_temps = [
    [78, 81, 79, 84, 77, 83, 80],   # City A
    [69, 72, 88, 91, 73, 76, 85],   # City B
    [82, 80, 79, 78, 90, 88, 81]    # City C
]
hot = [t for city in weekly_temps for t in city if t > 80]

Created by Seth Barrett | 2025