# In Class Examples | Week 13 | AIST 2110 | Lists

## Review

In [ ]:
text = ['_', 'e', '_', 'm', '_', ' ', '_', 't', '_', 'n', '_', 'i', '_', 'r', '_', 'p']

# while loop version
counter = -1
while counter > -1 * len(text):
    print(text[counter], end="")
    counter -= 2
print()

# For loop version
for val in text[::-2]:
    print(val, end="")

print()

# For range version
for index in range(len(text) -1 , -1, -2):
    print(text[index], end="")

# Expected output = `print me`

print me
print me
print me

## Nested Lists

In [ ]:
from math import pi

nest_ex = [
    ['b', 'r', 'u', 'h'],
    ['p', 'a', 's', 's', 'w', 'o', 'r', 'd', '1', 2, '3'],
    [0, 1, 1, 0, 4, 1, 0, 7, 5, 2, 5, 1, 5, 13, 13, 10, 13, 3, 10, 1, pi, 12, 22, 8, 7, 11, 9, 9, 15, 19, 16, 12, 29, 16, 28, 17, 17, 5, 35, 0, 11, 14, 0, 33, 37, 13, 1, 19, 22, 20],
]

# Double Index:
print(f"To access 2, I use: {nest_ex[1][-2] = }")

idx = nest_ex[2].index(pi)
print(idx)
print(f"To access pi, I use: {nest_ex[2][idx] = :.2f}")

print(f"To access the last value of bruh, I use: {nest_ex[0][-1] = }")

### Nested List Looping

In [ ]:
from math import pi
from typing import List

def print_nest_list(to_print: List[List[str|int|float]]) -> None:
    for inside_list in to_print:
        for val in inside_list:
            print(val, end=', ')
        print() # Why do I include this
# print_nest_list(nest_ex)

nest_ex = [
    ['b', 'r', 'u', 'h'],
    ['p', 'a', 's', 's', 'w', 'o', 'r', 'd', '1', 2, '3'],
    [0, 1, 1, 0, 4, 1, 0, 7, 5, 2, 5, 1, 5, 13, 13, 10, 13, 3, 10, 1, pi, 12, 22, 8, 7, 11, 9, 9, 15, 19, 16, 12, 29, 16, 28, 17, 17, 5, 35, 0, 11, 14, 0, 33, 37, 13, 1, 19, 22, 20],
]

for inside_list in nest_ex:
    for val in inside_list:
        print(val,end=" ")
    print()


# # # print_nest_list([
# # #     ['a', 'b','c'], 
# # #     ['x', 'y', 'z'], 
# # #     [1,2,3]])

### Nested List Slicing

In [ ]:
from math import pi

nest_ex = [
    ['b', 'r', 'u', 'h'],
    ['p', 'a', 's', 's', 'w', 'o', 'r', 'd', '1', 2, '3'],
    [0, 1, 1, 0, 4, 1, 0, 7, 5, 2, 5, 1, 5, 13, 13, 10, 13, 3, 10, 1, pi, 12, 22, 8, 7, 11, 9, 9, 15, 19, 16, 12, 29, 16, 28, 17, 17, 5, 35, 0, 11, 14, 0, 33, 37, 13, 1, 19, 22, 20],
]


# To get "bruh"
bruh = nest_ex[0][:]

# To get "123"

one_two_three = nest_ex[1][-3:]

print(nest_ex[:])

### Nesting Ex

In [ ]:
# Multiplication Table Ex
from typing import List

def create_mult_table(num:int) -> List[List[int]]:
    table:List[List[int]] = []
    

    return table

# Usage
five_table = create_mult_table(5)
# five_table = create_mult_table(20)


# print(five_table)

for row in five_table:
    for val in row:
        print(val,end="\t")
    print()

# Expected output:
# 1	    2	    3	    4	    5	
# 2	    4	    6	    8	    10	
# 3	    6	    9	    12	    15	
# 4	    8	    12	    16	    20	
# 5	    10	    15	    20	    25

#### My version

In [ ]:
# Multiplication Table Ex
from typing import List

def create_mult_table(num:int) -> List[List[int]]:
    table = []
    for i in range(1, num + 1):
        row = []
        for j in range(1, num + 1):
            row.append(i * j)
        table.append(row)
    return table


# Usage
five_table = create_mult_table(5)

for row in five_table:
    print(row)

# Expected output:
# 1	    2	    3	    4	    5	
# 2	    4	    6	    8	    10	
# 3	    6	    9	    12	    15	
# 4	    8	    12	    16	    20	
# 5	    10	    15	    20	    25

### Conversions

In [62]:
# list (str to list)
bruh = "bruh"
bruh_list = list(bruh)
bruh_list[2] = "a"
print(bruh_list)



# ''.join (list to str)
bruh_str = ''.join(bruh_list)
print(bruh_str)

print("_".join(bruh_list[::-1]))

['b', 'r', 'a', 'h']
brah
h_a_r_b

## Nesting Challenges

### Challenge 1: Grade Calc

In [71]:
grades = [
    [88, 92, 79],  # Alice
    [95, 85, 91],  # Bob
    [70, 90, 86],  # Cara
]
student_grades = []
student_grades: List[float] = [0] * len(grades)
assign_grades:List[float] = [0] * len(grades[0])
print(student_grades)

for index, student in enumerate(grades):
    for j, assign in enumerate(student):
        student_grades[index] += assign
        assign_grades[j] += assign




print(f"Student Grades: {student_grades}")
print(f"Assignment Grades: {assign_grades}")
# Then, I want sums for each col(assignment) saved to a list then printed out

[0, 0, 0]
Student Grades: [259, 271, 246]
Assignment Grades: [253, 267, 256]

### Challenge 2: Table Flipping

In [ ]:
grid:list[list[int]] = [
    [1, 2, 3],
    [4, 5, 6],
]

empty = [
    [0,0],
    [0,0],
    [0,0]
]
num_to_check = 2

for i, row in enumerate(grid):
    for j, col in enumerate(row):
        empty[j][i] = grid[i][j]

print(empty)

'''
Convert to: [
    [1,4],
    [2,5],
    [3,6]
    ]
'''

[[1, 4], [2, 5], [3, 6]]

'\nConvert to: [\n    [1,4],\n    [2,5],\n    [3,6]\n    ]\n'

### Challenge 3: Minesweeper

In [ ]:
map = [
    ['*', '.', '.'],
    ['.', '.', '*'],
    ['.', '.', '.']
]

''' 
    We want to have a main loop, where a user inputs coords, and either f or c.
    Also print empty map
    If the coords are invalid, loop on input
    If the coords are valid + c, and there is a bomb (*), we print `You Lose!`
    If the coords are valid + c, and there isn't a bomb, we return the map, but replace the `.` with the number of bombs surrounding it
        (only up, down, left, right, max = 4)
    If the coords are valid + f, replace whatever was there with a `F`
    Game ends if bomb is checked, or if all bombs are flagged + all non-bomb squares are checked
'''

## List Comprehensions

In [32]:
# Ex
rand_nums = [x**2 for x in range(1, 51)]
print(rand_nums)

random_list = []
for x in range(1,51):
    random_list.append(x**2)
print(random_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

### In class questions

1) Grade boost (cap at 100)
    - Story: your class policy adds 5 bonus points to each quiz, but grades can’t exceed 100.
    - Given: `scores = [72, 88, 97, 100, 59, 83]`

2) Course-title acronym
    - Story: given a course title string, build its acronym (first letter of each word, uppercase), skipping tiny connector words.
    - Given1: `title = "introduction to programming in python"`
    - Given2: `skip = ("to", "in", "and", "of")`

3) CHALLENGE: Warm temps from a weekly grid (nested lists)
    - Story: you logged temperatures for several cities across a week. It’s a grid where each inner list is one city’s week. You want a flat list of all temps strictly above 80.
    - Given: ```weekly_temps = [
    [78, 81, 79, 84, 77, 83, 80],   # City A
    [69, 72, 88, 91, 73, 76, 85],   # City B
    [82, 80, 79, 78, 90, 88, 81]    # City C
]```

In [ ]:

scores = [72, 88, 97, 100, 59, 83]

boosted_grades = []
for grade in scores:
    boosted_grades.append(min(100, grade + 5))
    # print()
# print()
print(boosted_grades)

boosted_grades = [min(100, grade + 5) for grade in scores]

[77, 93, 100, 100, 64, 88]

In [ ]:
# Story: given a course title string, build its acronym (first letter of each word, uppercase), skipping tiny connector words.

title = "introduction to programming in python"
skip = ("to", "in", "and", "of")
acronym_letters = []

for word in title.split():
    if word not in skip:
        acronym_letters.append(word[0:1].upper())
print("".join(acronym_letters))

print("".join([word[0].upper() for word in title.split() if word not in skip]))

IPP
IPP

In [ ]:
# 1
scores = [72, 88, 97, 100, 59, 83]
boosted_grades = ...

# 2
title = "introduction to programming in python"
skip = ("to", "in", "and", "of")
acronym_letters = ...

# 3
weekly_temps = [
    [78, 81, 79, 84, 77, 83, 80],   # City A
    [69, 72, 88, 91, 73, 76, 85],   # City B
    [82, 80, 79, 78, 90, 88, 81]    # City C
]
hot = ...

### My Solutions

In [ ]:
# 1 
scores = [72, 88, 97, 100, 59, 83]
boosted_grades = [min(s + 5, 100) for s in scores]

# 2
title = "introduction to programming in python"
skip = ("to", "in", "and", "of")
acronym_letters = [w[0].upper() for w in title.split() if w and w not in skip] # Returns list, how would we turn this to a str?


# 3
weekly_temps = [
    [78, 81, 79, 84, 77, 83, 80],   # City A
    [69, 72, 88, 91, 73, 76, 85],   # City B
    [82, 80, 79, 78, 90, 88, 81]    # City C
]
hot = [t for city in weekly_temps for t in city if t > 80]

Created by Seth Barrett | 2025